@{
    ViewBag.Title = "Error";
}
<div class="wrap clearfix">
    <!--row-->
    <div class="row wow fadeInUp">
        <!--content-->
        <section class="content three-fourth">
            <!--row-->
            <div class="row">
                <div class="one-third">
                    <div class="error-container">
                        <span class="error_type">404</span>
                        <span class="error_text">Не најдовме таква страница</span>
                    </div>
                </div>

                <div class="two-third">
                    <div class="container">
                        <p>Страната која ја побаравте не успеавме да ја пронајдеме или е избришана од нашиот систем. </p>
                        <p>Ако мислите дека ова е грешка, ве молиме <a href="@Url.Action("Contact","Home")">контактирајте не</a>. Ви Благодариме!</p>
                        <p>Можете да одите  <a href="@Url.Action("Index","Home")">Дома</a></p>
                    </div>
                </div>
            </div>
            <!--//row-->
        </section>
        <!--//content-->
        <!--sidebar-->
        <aside class="sidebar one-fourth" style="padding-top:15px;">
            @Html.Action("Advertisments","Home")
        </aside>
        <!--//sidebar-->
    </div>
    <!--//row-->
</div>

@section Scripts{
    <script>
        $("body").addClass("errorPage");
    </script>
}