/*
This is an example of how to use the image sprite in your own CSS files
*/
.categoryicons {
	background-image: url('Icons/categoryIcons.sprite.png')!important;
	background-repeat: no-repeat;
	display: inline-block;
}
.categoryicons.chicken {
	width: 32px;
	height: 32px;
	background-position: -10px -10px;
}
.categoryicons.macedonia {
	width: 32px;
	height: 32px;
	background-position: -10px -52px;
}
.categoryicons.maindish {
	width: 32px;
	height: 32px;
	background-position: -10px -94px;
}
.categoryicons.malta {
	width: 64px;
	height: 64px;
	background-position: -10px -136px;
}
.categoryicons.meze {
	width: 64px;
	height: 64px;
	background-position: -10px -210px;
}
.categoryicons.sauce6 {
	width: 64px;
	height: 64px;
	background-position: -10px -284px;
}
.categoryicons.spaghetti3 {
	width: 64px;
	height: 64px;
	background-position: -10px -358px;
}
.categoryicons.student {
	width: 32px;
	height: 32px;
	background-position: -10px -432px;
}
.categoryicons.supa {
	width: 64px;
	height: 64px;
	background-position: -10px -474px;
}
.categoryicons.telesko {
	width: 32px;
	height: 32px;
	background-position: -10px -548px;
}
.categoryicons.toasted {
	width: 32px;
	height: 32px;
	background-position: -10px -590px;
}
