@model IEnumerable<SiGotvime.Data.Models.Tag>

@{
    ViewBag.Title = "Categories";
}



<p style="margin-top:30px;">
    @Html.ActionLink("Нова категорија", "AddCategory", null, new { @class = "button" })
</p>
<table class="table striped">
    <thead>
        <tr>
            <th class="text-left">
                Име
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-right">
                    @Html.ActionLink("Промени", "EditCategory", "Admin", new { id = item.ID }, new { @class = "text-info" }) |
                    @Html.ActionLink("Избриши", "DeleteCategory", "Admin", new { id = item.ID }, new { @class = "text-alert btnDeleteCategory" })
                </td>
            </tr>

        }
    </tbody>
</table>


@section Scripts{

    <script>
        $(function () {
            $(".btnDeleteCategory").click(function (event) {

                var r = confirm("Дали сте сигурни?");
                if (!r)
                    event.preventDefault();
            });
        })
    </script>

}