@{
    ViewBag.Title = "DateHelper";
}


<style>
    .panel{
        width:200px!important;
        height:200px!important;
        display:inline-block!important;
        background-color:transparent!important;
        padding:10px;
    }
</style>


<div class="wrap clearfix">


    <link href="loaders.css.min.css" rel="stylesheet" />  

    <div class="loaders bootstrap-item">
        <div class="panel" style="width:200px;height:200px; display:inline-block;">
            <div class="panel-body">
                <div class="loader">

                    <div class="loader-inner ball-pulse">

                        <div>
                        </div>

                        <div>
                        </div>

                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;display:inline-block;">
            <div class="panel-body">
                <div class="loader">

                    <div class="loader-inner ball-grid-pulse">

                        <div>
                        </div>

                        <div>
                        </div>

                        <div>
                        </div>

                        <div>
                        </div>

                        <div>
                        </div>

                        <div>
                        </div>

                        <div>
                        </div>

                        <div>
                        </div>

                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;display:inline-block;">
            <div class="panel-body">
                <div class="loader">

                    <div class="loader-inner ball-clip-rotate">

                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;display:inline-block;">
            <div class="panel-body">
                <div class="loader">

                    <div class="loader-inner ball-clip-rotate-pulse">

                        <div>
                        </div>

                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;display:inline-block;">
            <div class="panel-body">
                <div class="loader">

                    <div class="loader-inner square-spin">

                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;display:inline-block;">
            <div class="panel-body">
                <div class="loader">

                    <div class="loader-inner ball-clip-rotate-multiple">

                        <div>
                        </div>

                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
                <div class="loader">

                    <div class="loader-inner ball-pulse-rise">

                        <div>
                        </div>

                        <div>
                        </div>

                        <div>
                        </div>

                        <div>
                        </div>

                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
                <div class="loader">

                    <div class="loader-inner ball-rotate">

                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
                <div class="loader">

                    <div class="loader-inner cube-transition">

                        <div>
                        </div>

                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>
        <div class="panel" style="max-width:200px;max-height:200px;">
            <div class="panel-body">
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner ball-zig-zag">

                <div>
                </div>

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner ball-zig-zag-deflect">

                <div>
                </div>

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner ball-triangle-path">

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner ball-scale">

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner line-scale">

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner line-scale-party">

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner ball-scale-multiple">

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner ball-pulse-sync">

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner ball-beat">

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner line-scale-pulse-out">

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner line-scale-pulse-out-rapid">

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner ball-scale-ripple">

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner ball-scale-ripple-multiple">

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner ball-spin-fade-loader">

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner line-spin-fade-loader">

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner triangle-skew-spin">

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner pacman">

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner ball-grid-beat">

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>

                <div>
                </div>
            </div>
        </div>

        <div class="loader">

            <div class="loader-inner semi-circle-spin">

                <div>
                </div>
            </div>
        </div>
    </div>
</div>
