<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://portal-baranjerecepti.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>portal-baranjerecepti.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>portal-baranjerecepti</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$portal-baranjerecepti</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="FoodConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:cs84bvagcq.database.windows.net,1433;Initial Catalog=ReceptiDB;User ID=martin@cs84bvagcq;Password=Solev450045" Name="Data Source=tcp:cs84bvagcq.database.windows.net,1433;Initial Catalog=ReceptiDB;User Id=martin@cs84bvagcq;Password=Solev450045" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;Initial Catalog=FoodDatabase;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FoodConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=FoodDatabase; Integrated Security=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SiGotvimeDB" Order="3" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:cs84bvagcq.database.windows.net,1433;Initial Catalog=ReceptiDB;User ID=martin@cs84bvagcq;Password=Solev450045" Name="Data Source=tcp:cs84bvagcq.database.windows.net,1433;Initial Catalog=ReceptiDB;User Id=martin@cs84bvagcq;Password=Solev450045" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SiGotvime.Data.ReplicationDatabase, SiGotvime.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=cs84bvagcq.database.windows.net,1433;Initial Catalog=ReceptiDB;User ID=martin;Password=Solev450045" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=cs84bvagcq.database.windows.net,1433;Initial Catalog=ReceptiDB;User ID=martin;Password=Solev450045" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FoodConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cs84bvagcq.database.windows.net,1433;Initial Catalog=ReceptiDB;User Id=martin@cs84bvagcq;Password=Solev450045</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SiGotvimeDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cs84bvagcq.database.windows.net,1433;Initial Catalog=ReceptiDB;User Id=martin@cs84bvagcq;Password=Solev450045</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>