
<div class="widget wow fadeInRight" data-wow-delay=".2s" id="tipsAndTricksAside">
    <h3>Совети и трикови</h3>
    <ul class="articles_latest">

        <li>
            <a href="blog_single.html">
                <img src="~/images/img.jpg" alt="" />
                <h6>Make your own bread</h6>
            </a>
        </li>
        <li>
            <a href="blog_single.html">
                <img src="~/images/img.jpg" alt="" />
                <h6>Make your own bread</h6>
            </a>
        </li>
        <li>
            <a href="blog_single.html">
                <img src="~/images/img.jpg" alt="" />
                <h6>How to make sushi</h6>
            </a>
        </li>
        <li>
            <a href="blog_single.html">
                <img src="~/images/img.jpg" alt="" />
                <h6>Barbeque party</h6>
            </a>
        </li>
        <li>
            <a href="blog_single.html">
                <img src="~/images/img.jpg" alt="" />
                <h6>How to make a cheesecake</h6>
            </a>
        </li>
    </ul>
</div>
