/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
  position: relative;
  margin-left:10px;
}

.autocomplete input{
  font-size: 1.2em;
  width: inherit;
  padding:0.4em 0;
  text-align:center;
}

.autocomplete ul{
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
  margin:0;
  padding:0!important;
  background-color: #fff;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 80%;
  padding:0.4em;  
  background-color: #fff;
  cursor:pointer;
}

.autocomplete li.active{
  width: 97%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}
