body {
    
    background-color:#f1f1f1!important;
    
}


@media (min-width: 1270px)
{
    .container{
        width:1250px;
        margin:15px auto;
    }    
}



@media (max-width: 1024px)
{
    .alphabetNav .alphabet{
        max-width:900px;        
    }
    .ingredientSearch{
        display:none;
    }
}

@media (min-width: 490px)
{

    .sideRecipes{
        
    }

    .sideGif{
        width:80px;
        margin:auto;        
        opacity:0.8;
        border-radius:10px;
        padding:20px;
    }

    .footer{
        margin-top:50px;
        height:250px;
        border-top:1px solid white;
        background-color:#515151;
    }
    .myNav .miniNav {
        display: none !important;
    }

    #firstPage{        
        width:95%;
        margin:auto;
        margin-top:15px;
    }

    .container{        
        margin:15px auto;        
    }

.myCard{
        width:230px;
    }

    
.va-container{
    width:100%;
    height:400px;
    display:table;
    position:relative;
    text-align:center;
}

.cell-middle{
    display:table-cell;
    vertical-align:middle;
}

.hero{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:400px;
}

.headings{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:400px;     
    background-color:#000;
    opacity:0.5;
}

.messages{
    max-height:400px;
    min-height:400px;
}

.banner{
    background-color:white;
    color:black;
    padding:30px 0;
    box-shadow:0 5px 5px -2px #ccc;
    text-align:center;
}
.navigation{
    background-color:white;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    height:50px;
    z-index:55;
    box-shadow: rgba(0,0,0,.1) 0 1px 2px 0;
    -webkit-box-shadow: rgba(0,0,0,.1) 0 1px 2px 0;
    color:#e16120;
    opacity:0.9;
}


.ingredientsHolder{
    min-height: 150px;
    background-color:white;    
    margin-top:5px;
    text-align:left;
    padding:0 0;
    border:1px solid #ccc;
    padding-bottom:20px;   
    box-shadow:0 5px 20px -2px #555;
}

a{
    cursor:pointer;
}

.ingredient{
    margin:5px;
    background-color:#e9e9e9;
    padding:4px;
    text-decoration:none;
    color:black;
    display:inline-block;
}

.listInline{
    display:inline-block;
}

.deleteIcon{
    cursor:pointer;
}
.alpha{
    padding:5px;
    margin:0 1px; 
    display:inline-block;
}

.alphabet .active{
    background-color:#e16120;
    color:white;
}

.alphabet{        
    padding:10px 10px;        
    margin:0;
    
}

.alphabetNav{
    margin:0 0 10px 0;
    border-bottom:1px solid #ccc;
    width:100%;
}
.ingredientSearch{
    font-size:15px;
    height:22px;
    border:1px solid #ccc;
    padding:4px;
}

.filterIngredients:focus{
    outline:none;
}

.cards .myCard{
    display:inline-block;
    margin:10px;        
}
.cards .myCard-image{
    width:230px;
    height:230px;
    
}
.cards .myCard-image img{
    height:230px;
    width:100%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;    
}

.cards .myCard-title{    
    background-color:#383838;
    padding:10px;
}
.cards .myCard-title > div{    
    height:66px;
    display:block;
    margin-top:10px;
    overflow:hidden;
}
.cards .myCard-title > div a{    
    text-decoration:none;
}
.cards .myCard-title > div a > p{    
    color:white;
    display:inline;
    font-size:20px;
    line-height:22px;
    position:relative;
}

.cards .ingredientList{
    background-color:white;
    padding:10px;
    color:#383838;
    font-size:13px;
    line-height:18px;
    height:54px;    
    overflow:hidden;
}


.bold{
    font-weight:bold!important;
}

.cards .myCard-info{
    color:black;
    border-top:1px solid;
    height:25px;
    background-color:white;
    font-size:13px;
    padding:5px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
#secondPage{
    padding-bottom:100px;
}

.recipeHolder{
    max-width:860px;
    margin:0 auto;            
    background-color:white;
    padding:20px;
    /*box-shadow:0 5px 50px -2px #000;*/
}

.recipeHolder .recipeTitle{
    padding:10px;
    padding-bottom:15px;
    background-color:#f1f1f1;
    text-align:center;
}

.recipeHolder .ingredietsInRecipe{
    min-height:200px;
    
}

.recipeHolder pre{
    overflow:auto;
    width:inherit;
    white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;  
    font-size:20px!important;
}

.ingredientInRecipe{
   
    padding: 5px;
    border:1px solid lightgray;
    border-radius:7px;    
}

.ingredientInRecipe p{
     color:white!important;
     font-size:20px!important
}

.bgGreen{
    background-color:#60a917;
}

.bgRed{
    background-color:#e51400;
}

.midNav{
    width:100%;
    height:50px;
    
    padding:0;    
    margin-top:20px;
}
.midNav ul{
    background-color:white;
    padding:0;
    margin:0;
    height:100%;    
}
.midNav li{
    display:inline-block;
    height:inherit;
    width:33%;
    text-align:center;
    margin:0;   
     transition:0.5s;
}

.midNav li a{
    display:block;
    width:100%;
    height:100%;
    transition:0.5s;
}

.midNav li a:hover{
    color:black;
    background-color:#d2d2d2;
    transition:0.5s;
}

.midNav .active{
    background-color:#ffae3e;
    transition:0.5s;
}
.midNav .active a{
    color:white;
    transition:0.5s;
}
.midNav .active a:hover{
    background-color:#ffae3e;
     color:white;
     transition:0.5s;
}
.midNav .active:after{
  border: 10px solid transparent;
  border-top-color: #ffae3e;
  content: '';
  height: 0;
  margin-left: -10px;
  position:absolute;
}
.ingredients{
    width:90%;
    margin:auto;
}

 a[ ng-click ] {
            color: red ;
            cursor: pointer ;
            text-decoration: underline ;
            user-select: none ;
                -moz-user-select: none ;
                -webkit-user-select: none ;
        }
 li.friend{
     display:inline-block;
     border:4px solid #ffae3e;
     padding:25px;     
     line-height:40px;
     margin:5px;
     background-color:white;

 }

 li.friend:hover{
     cursor:pointer;     
     background-color:#ffae3e;
     color:white;
     transition:0.5s;

 }

li.friend.ng-enter {
    opacity: 0.2 ;
    margin-left: -200px ;
    transition: all ease 250ms ;
}

li.friend.ng-enter-stagger {
    transition-delay: 0.1s ;
        -webkit-transition-delay: 0.1s ;

    /*
        FROM THE DOCUMENTATION:
        In case the stagger doesn't work then these two values must be set
        to 0 to avoid an accidental CSS inheritance.
    */
    transition-duration: 0s ;
        -webkit-transition-duration: 0s ;
}

li.friend.ng-enter-active {
    opacity: 1.0 ;
    margin-left: 10px ;
}

.midNavUL.ng-hide-remove{
    transition-delay:0.5s;
}

.searchResultsTab{
    -webkit-transition:0.5s linear all;
     transition:0.5s linear all;
     opacity:1;
}
.searchResultsTab li {
    width:100%;
    text-align:center;
}
.searchResultsTab.ng-hide{
    opacity:0;
}
.searchResultsTab.ng-hide-remove, .searchResultsTab.ng-hide-add{
    display:block!important; 
}

.midNav li{
    outline:none!important;
}
}


@media (max-width: 640px)
{   
    body{
        min-width:640px;
    }    
    .ingredientSearch{
        display:none;
    }

    .hero{
    position:absolute;
    top:0;
    left:0;
    min-width:640px;
}
    .cell-middle{
    display:table-cell;
    vertical-align:middle;
}
    .headings{
    position:absolute;
    top:0;
    left:0;
    width:100%;        
    background-color:#000;
    opacity:0.5;
}
    
    .va-container{
    width:100%;    
    display:table;
    position:relative;
    text-align:center;
}
.messages{
    max-height:400px;
    min-height:400px;
}

.alphabetNav{
    margin:0 0 10px 0;
    border-bottom:1px solid #ccc;
    width:100%;    
}

.banner{
    background-color:white;
    color:black;
    padding:30px 0;
    box-shadow:0 5px 5px -2px #ccc;
    text-align:center;
}
    .container{        
        margin:15px auto;
        width:100%;
    }

.myCard{
        width:90%;
        margin:auto;
    }

.va-container{
    width:100%;
    height:400px;
    display:table;
    position:relative;
    text-align:center;
}

.cell-middle{
    display:table-cell;
    vertical-align:middle;
}



.navigation{
    background-color:white;
    min-width:640px;
    position:absolute;
    top:0;
    left:0;
    height:50px;
    z-index:55;
    box-shadow: rgba(0,0,0,.1) 0 1px 2px 0;
    -webkit-box-shadow: rgba(0,0,0,.1) 0 1px 2px 0;
    color:#e16120;
    opacity:0.9;
}


.ingredientsHolder{
    min-height: 120px;
    background-color:white;    
    margin-top:5px;
    text-align:left;
    
    border:1px solid #ccc;
    padding-bottom:50px;
}

a{
    cursor:pointer;
}

.ingredient{
    margin:5px;
    background-color:#e9e9e9;
    padding:4px;
    text-decoration:none;
    color:black;
    display:inline-block;
}

.alpha{
    padding:5px;
    margin:0 1px;   
    display:inline-block; 
}

.alphabet .active{
    background-color:#e16120;
    color:white;
}

.alphabet{        
    padding:10px 10px;        
    margin:0;
}

.alphabetNav{
    margin:0 0 10px 0;
    border-bottom:1px solid #ccc;
    width:100%;
}

.ingredientSearch{
    font-size:15px;
    height:22px;
    border:1px solid #ccc;
    padding:4px;
}

.filterIngredients:focus{
    outline:none;
}

.cards{
    width:90%;
    margin:auto;
}
.cards .myCard{
    display:inline-block;
    margin:10px auto;
    max-width:100%;
}
.cards .myCard-image{
    width:inherit;
    height:350px;  
}
.cards .myCard-image img{    
    width:100%;
    height:350px; 
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.cards .myCard-title{    
    background-color:#383838;
    padding:10px;
}
.cards .myCard-title > div{    
    height:66px;
    display:block;
    margin-top:10px;
    overflow:hidden;
}
.cards .myCard-title > div a{    
    text-decoration:none;
}
.cards .myCard-title > div a > p{    
    color:white;
    display:inline;
    font-size:20px;
    line-height:22px;
    position:relative;
}

.cards .ingredientList{
    background-color:white;
    padding:10px;
    color:#383838;
    font-size:13px;
    line-height:18px;
    height:54px;    
    overflow:hidden;
}


.bold{
    font-weight:bold!important;
}

.cards .myCard-info{
    color:black;
    border-top:1px solid;
    height:25px;
    background-color:white;
    font-size:13px;
    padding:5px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
#secondPage{
    padding-bottom:100px;
}

.recipeHolder{
    width:80%;
    margin:70px auto;
    border:8px solid lightgray;    
    border-radius:8px;
    background-color:white;
    padding:20px;
}

.recipeHolder .recipeTitle{
    padding:10px;
    padding-bottom:15px;
    background-color:#f1f1f1;
    text-align:center;
}

.recipeHolder .ingredietsInRecipe{
    min-height:200px;
    border:1px solid lightgray;
}

.recipeHolder pre{
    overflow:auto;
    width:inherit;
    white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;  
    font-size:25px!important;
}
.ingredientInRecipe{   
    padding: 5px;
    border:1px solid lightgray;
    border-radius:7px;    
}
.ingredientInRecipe p{
     color:white!important;
     font-size:20px!important
}

.bgGreen{
    background-color:#60a917;
}

.bgRed{
    background-color:#e51400;
}
}

