
<div>
    <div class="hero" style="height:400px;padding-bottom:0;"></div>
    <div class="headings"></div>


    <div class="messages metro">
        <div class="va-container">
            <div class="cell-middle">
                <h1 class="header" style="margin:0;color:white;">{{currentStatus.Content}}</h1>
                <h2 class="subheader" style="margin:0;color:white;">{{currentStatus.SubContent}}</h2>
            </div>
        </div>
    </div>
        
    <div id="firstPage" class="grid">    
        <div class="row">
            <div class="span12">
                <div class="ingredients">
                    <div class="">
                        <!--<p class="subheader-secondary" style="text-align:center;">Состојки што ги имаме</p>-->
                        <div class="ingredientsHolder">
                            <div style="padding:5px;">
                                <!--<div class="span7" style="margin:0 auto;">
                            <autocomplete ng-model="ingredientSearchText.Name" data="Ingredients"></autocomplete>
                        </div>-->
                                <!--<md-input-container>
                            <label>Пребарај состојки</label>
                            <input type="text" ng-model="ingredientSearchText.Name">
                        </md-input-container>-->
                                <md-autocomplete flex
                                                 md-input-name="autocompleteField"
                                                 md-no-cache="ctrl.noCache"
                                                 md-selected-item="selectedIngredient"
                                                 md-search-text="ingredientSearchText"
                                                 md-items="item in getMatches()"
                                                 md-item-text="item.Name"
                                                 md-selected-item-change="ingredientSelect()"
                                                 md-floating-label="Состојки што ги имаме">
                                    <md-item-template>
                                        <span md-highlight-text="ingredientSearchText">{{item.Name}}</span>
                                    </md-item-template>
                                    <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                                        <div ng-message="required">You <b>must</b> have a favorite state.</div>
                                        <div ng-message="minlength">Your entry is not long enough.</div>
                                        <div ng-message="maxlength">Your entry is too long.</div>
                                    </div>
                                </md-autocomplete>
                            </div>
                            <div style="text-align:center;" ng-show="loadingIngridients">
                                <img src="../../Content/images/loading.gif" />
                            </div>
                            <div>
                                <span class="ingredient" ng-repeat="item in selectedIngredients">
                                    {{item.Name}}
                                    <i class="fa fa-times deleteIcon" ng-click="removeItem(item)"></i>
                                </span>
                            </div>
                        </div>
                    </div>


                </div>
                <div style="text-align:center;margin-top:15px;clear:both;">
                    <button class="success large" ng-click="searchRecipes()">Пребарај рецепти</button>
                </div>
            </div>
            <div class="span3">
                <div id="flashContent">
                    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="300" height="250" id="Pakomak 300x250" align="middle">
                        <param name="movie" value="Content/banners/Pakomak 300x250.swf" />
                        <param name="quality" value="high" />
                        <param name="bgcolor" value="#ffffff" />
                        <param name="play" value="true" />
                        <param name="loop" value="true" />
                        <param name="wmode" value="window" />
                        <param name="scale" value="showall" />
                        <param name="menu" value="true" />
                        <param name="devicefont" value="false" />
                        <param name="salign" value="" />
                        <param name="allowScriptAccess" value="sameDomain" />
                        <!--[if !IE]>-->
                        <object type="application/x-shockwave-flash" data="Content/banners/Pakomak 300x250.swf" width="300" height="250">
                            <param name="movie" value="Pakomak 300x250.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#ffffff" />
                            <param name="play" value="true" />
                            <param name="loop" value="true" />
                            <param name="wmode" value="window" />
                            <param name="scale" value="showall" />
                            <param name="menu" value="true" />
                            <param name="devicefont" value="false" />
                            <param name="salign" value="" />
                            <param name="allowScriptAccess" value="sameDomain" />
                            <!--<![endif]-->
                            <a href="http://www.adobe.com/go/getflash">
                                <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                            </a>
                            <!--[if !IE]>-->
                        </object>
                        <!--<![endif]-->
                    </object>
                </div>
            </div>
        </div>      
    </div>
    
    <div class="midNav">
        <ul class="searchResultsTab" ng-hide="!search">
            <li style="width:88%!important">
                <span class="subheader" style="margin-left:12%;">Резултати од пребарување:</span>
                
            </li>
            <li style="width:10%!important;margin:0!important;" ng-click="search=false">
                <a class="subheader warning" >Назад</a>
            </li>
        </ul>
        <ul ng-hide="search" class="midNavUL">            
            <li ng-click="activateTab(1)" ng-class="{active:activeTab==1}">
                <a class="subheader">Категории</a>

            </li>
            <li ng-class="{active:activeTab==2}" ng-click="activateTab(2)">
                <a class="subheader">Најнови</a>

            </li>
            <li ng-click="activateTab(3)" ng-class="{active:activeTab==3}">
                <a class="subheader">Лесни Рецепти</a>

            </li>
        </ul>
    </div>
    <div class="container" ng-show="activeTab!=1 || search">
        <div id="secondPage" ng-show="loadingRecipes || loadedRecipes">
            <div style="text-align:center;margin-top:30px;">
                <img src="../../Content/images/ezgif.com-gif-maker.gif" ng-show="loadingRecipes" />
                
            </div>
            <div class="cards" ng-show="loadedRecipes && !search">
                <div class="myCard metro" ng-repeat="recipe in Recipes">
                    <a class="myCard-image" ng-click="goTo(recipe)">
                        <img lazy-src="{{recipe.CroppedUrl || recipe.ImageUrl}}" alt="{{recipe.Title}}" class="recipeImg" />
                    </a>
                    <div class="myCard-title">
                        <div>
                            <a ng-click="goTo(recipe)">
                                <p class="header">
                                    {{recipe.Title}}
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="ingredientList">
                        <p>
                            <span ng-repeat="ingredient in recipe.ingredients" ng-class="{'text-success bold': isInSelected(ingredient)}">{{ingredient.Name}}, </span>
                        </p>
                    </div>
                    <div class="myCard-info">
                        <span class="bold">{{recipe.ingredients.length}} </span><span>состојки</span>
                    </div>
                </div>
            </div>
            <div class="cards" ng-show="loadedRecipes && search">
                <div class="myCard metro" ng-repeat="recipe in SearchedRecipes">
                    <a class="myCard-image" ng-click="goTo(recipe)">
                        <img src="{{recipe.CroppedUrl || recipe.ImageUrl}}" alt="{{recipe.Title}}" />
                    </a>
                    <div class="myCard-title">
                        <div>
                            <a ng-click="goTo(recipe)">
                                <p class="header">
                                    {{recipe.Title}}
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="ingredientList">
                        <p>
                            <span ng-repeat="ingredient in recipe.ingredients" ng-class="{'text-success bold': isInSelected(ingredient)}">{{ingredient.Name}}, </span>
                        </p>
                    </div>
                    <div class="myCard-info">
                        <span class="bold">{{recipe.ingredients.length}} </span><span>состојки</span>
                    </div>
                </div>
            </div>
            <div style="text-align:center;" class="metro">
                <button class="success large" ng-click="loadMore()" ng-show="loadedRecipes&&!loadingMore">Повеќе</button>
                <img src="../../Content/images/moreRecipes.gif" ng-show="loadingMore" />
            </div>
        </div>
    </div>
    <div class="container" ng-show="activeTab==1&&!search">
        <ul id="categoriesList">
            <li class="friend" ng-repeat="item in Categories" ng-click="getByCategory(item)">{{item.Name}}</li>
        </ul>
    </div>    
</div>

<div style="visibility:hidden;" id="recipeContent" >
    <div class="recipeHolder metro">        
        <img ng-src="{{SelectedRecipe.ImageUrl}}" style="max-height:300px;" />        
        <h2 class="recipeTitle">{{SelectedRecipe.Title}}</h2>
        <h3 style="margin-top:35px; font-size: 23px; " >Состојки:</h3>
        <div class="ingredietsInRecipe">
            <div ng-repeat="item in SelectedRecipe.ingredients" class="ingredientInRecipe" style="display:inline-block;margin:5px;" ng-class="isInSelected(item)?'bgGreen':'bgRed'">
                <p class="subheader-secondary " style="text-align:center;margin-bottom:0;">{{item.Name}}</p>
                <p style="font-size:16px!important;text-align:center;">{{item.Quantity}}</p>
            </div>
        </div>
        <h3 style="margin-top:15px; font-size:23px;">Начин на приготвување:</h3>
        <div>
            <pre class="subheader-secondary">
            {{SelectedRecipe.Content}}
        </pre>
        </div>
    </div>
</div>